/* ======== 상단 이메일 띠 */
.non_sub {display: none !important;}
nav {
    min-width: 1480px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
nav .inquiry_line {
    width: 100%;
    text-align: center;
    background-color: #0a5e5a;
    line-height: 40px;
}
nav .inquiry_line a {
    font-size: 0.875rem;
    color: #fff;
}
/* ======== 네비게이션 */
nav .nav_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 50px;
    background-color: #fff;
}
nav .nav_btm .gnb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
nav .nav_btm .gnb > li {
    position: relative;
    margin-right: 50px;
}
nav .nav_btm .gnb > li:last-child {margin: 0}
nav .nav_btm .gnb > li > a {
    display: block;
    line-height: 50px;
    font-weight: 500;
    transition: all 0.3s;
} 
nav .nav_btm .gnb > li > a:hover {
    color: #0a5e5a;
    font-weight: 700
}
nav .nav_btm .gnb > li .sub {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
    text-align: center;
    z-index: 999;
}
nav .nav_btm .gnb > li .sub li {
    margin-bottom: 15px;
    line-height: 1.3;
}
nav .nav_btm .gnb > li .sub li a {
    font-size: 0.938rem;
    font-weight: 500
}
nav .nav_btm .gnb > li .sub li:hover a {
    color: #0a5e5a;
}
nav .nav_btm .gnb > li .sub li:last-child {margin: 0;}
.deco_underline {
    width: 100%;
    border: 1px solid #d5d5d5;
}
/* ======== nav 오른쪽 메뉴 */
nav .nav_btm .customer_nav {
    display: flex;
}
nav .nav_btm .customer_nav .customer_nav_list {
    display: flex;
    align-items: center;
}
nav .nav_btm .customer_nav .customer_nav_list > li {margin-right: 20px;}
nav .nav_btm .customer_nav .customer_nav_list > li a {display: block;}
nav .nav_btm .customer_nav .customer_nav_list > li:last-child {
    margin: 0;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn button {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #aaa;
    background-color: unset;
    border: none;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn img {
    display: inline-block;
    opacity: 0.7;
}
nav .nav_btm .customer_nav .customer_nav_list .select_down {
    position: relative;
}
nav .nav_btm .customer_nav .customer_nav_list .select_down li {}
nav .nav_btm .customer_nav .customer_nav_list .select_down li .btn {}
nav .nav_btm .customer_nav .customer_nav_list .select_down li .btn img {transition: all 0.3s;}
nav .nav_btm .customer_nav .customer_nav_list .select_down .select_lang {
    position: absolute;
    top: 25px;
    width: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 999;
}
nav .nav_btm .customer_nav .customer_nav_list .select_down .select_lang li {margin-bottom: 10px;}
nav .nav_btm .customer_nav .customer_nav_list .select_down .select_lang li:last-child {margin: 0;}
nav .nav_btm .customer_nav .customer_nav_list .select_down .select_lang li a:hover {color: #0a5e5a;}
/* ======== 검색 창 */
nav .nav_btm .customer_nav .customer_nav_list > li {position: relative;}
.search_a {}
.search_a img {}
#searchBarForm {
    position: absolute;
    top: 36px;
    right: 0;
    background: #0a5e5a;
    box-sizing: border-box;
    padding: 30px 25px;
    width: 400px;
    border-radius: 10px;
    z-index: 800;
    opacity: 0;
    transition: all 0.3s;
}
#searchBarForm h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
#searchBarForm p {
    padding-top: 10px;
    border-top: 1px solid #fff;
    font-size: 14px;
    color: #fff;
}
.search_bar_line {position: relative;}
.search_bar_line #search_bar {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 40px 0 9px;
    border: 0;
    line-height: 38px;
    font-size: 14px;
    background: #fff;
    outline: none;
    border-radius: 5px;
}
.search_bar_line button {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url("../images/search_ico.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: unset;
    border: none;
}
/* ======== footer */
footer {
    padding: 50px 0;
    background-color: #0d4542;
    color: #fff;
}
footer .ft_list {
    display: flex;
    padding: 0 210px;
    gap: 2rem;
}
footer .ft_list h2 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #ffd6dd;
    margin-bottom: 15px;
}
footer .ft_list h3 {
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffd6dd;
}
footer .ft_list p {
    margin-bottom: 15px;
    font-size: 0.938rem;
    line-height: 1.3;
}
footer .ft_list > li {flex: 1;}
.return li a img {width: 100%;}
footer .ft_list li .company {
    display: flex;
    flex-direction: column;
}
footer .ft_list li .company a {
    margin-bottom: 15px;
    color: #fff;
}
footer .ft_list li .company a:hover {
    color: #ffd6dd;
    font-weight: 700;
}
footer .ft_list li .company_sns {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}
footer .ft_list li .company_sns a {
    width: 32px;
    height: 32px;
    background: #08312e;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
footer .ft_list li .company_sns a:hover {background-color: #ffd6dd;}
footer .ft_list li .delivery {margin-bottom: 30px;}
footer .ft_list li .delivery a {
    color: #fff;
    text-decoration: underline;
}
footer .ft_list li .return li:last-child {
    display: flex;
    gap: 0.5rem;
}
footer .ft_list li .return li:last-child a {flex: 1;}
/* ======== footer bottom */
.footer_btm {
    background: #0d3533;
    padding: 30px 210px;
}
.footer_btm h3 a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer_btm h3 img {
    width: 20px;
}
.footer_btm .footer_bottom_cate {
    overflow: hidden;
    transition: all 0.3s;
}
.footer_btm .footer_bottom_cate p {
    display: flex;
    margin-bottom: 15px;
    color: #d5d5d5;
    font-size: 0.875rem;
}
.footer_btm .footer_bottom_cate p:not(:last-child) span {display: flex;}
.footer_btm .footer_bottom_cate p:not(:last-child) span a {
    margin-left: 5px;
    color: #fff;
    font-weight: 500;
}
.footer_btm .footer_bottom_cate p:not(:last-child) span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #d5d5d5;
    margin: 0 1rem;
}
.footer_btm .footer_bottom_cate p:not(:last-child) span:first-child:before {display: none;}
.footer_btm .footer_bottom_cate p:last-child {
    margin: 0;
    flex-direction: column;
    gap: 1rem;
}
.footer_btm .footer_bottom_cate p:last-child em {
    color: #ffd6dd;
    font-weight: 500;
}
