/* ======== 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    font-style: normal;
}
body {min-width: 1480px;}
section:not(:first-child) {
    padding: 100px 210px;
}
section > h2 {
    color: #0a5e5a;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
}
.special {padding-top: 10px;}
/* ======== 상단 이메일 띠 */
nav {
    position: relative;
}
nav .inquiry_line {
    width: 100%;
    text-align: center;
    background-color: #0a5e5a;
    line-height: 40px;
}
nav .inquiry_line a {color: #fff;}
/* ======== 네비게이션 */
nav .nav_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 50px;
    background-color: #fff;
}
nav .nav_btm .gnb {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav .nav_btm .gnb > li {
    margin-right: 50px;
}
nav .nav_btm .gnb > li:last-child {margin: 0}
nav .nav_btm .gnb > li > a {
    font-weight: 500;
    transition: all 0.3s;
} 
nav .nav_btm .gnb > li > a:hover {
    color: #0a5e5a;
    font-weight: 700
}
nav .nav_btm .deco_underline {
    /* 데코레이션용 nav 하단 선 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
}
/* ======== nav 오른쪽 메뉴 */
nav .nav_btm .customer_nav {
    display: flex;
}
nav .nav_btm .customer_nav .customer_nav_list {
    display: flex;
    align-items: center;
}
nav .nav_btm .customer_nav .customer_nav_list > li {
    margin-right: 20px;
}
nav .nav_btm .customer_nav .customer_nav_list > li:last-child {
    margin: 0;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn button {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.875rem;
    color: #aaa;
    background-color: unset;
    border: none;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn img {
    display: inline-block;
    opacity: 0.7;
}
/* sec01 */
.sec01 {
    /* position: relative; */
    overflow-x: hidden;
    padding-bottom: 100px;
}
/* sec02 */
.sec02 {
    position: relative;
    overflow-x: hidden;
}
.sec02_swiper {
    /* width: 1480px; */
    margin: 0 auto;
    overflow: hidden;
}
.sec02_swiper .swiper-wrapper {display: flex;}
.sec02_swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec02_swiper .swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 250px;
    aspect-ratio: 1/1.5;
}
.sec02_swiper .swiper-slide a > p {
    overflow: hidden;
    border-radius: 100%;
    width: 70%;
}
.sec02_swiper .swiper-slide a > p img {width: 100%;}
.sec02_swiper .swiper-slide a h3 {
    line-height: 1.3;
    text-align: center;
    padding: 0 10px;
    font-size: 1.25rem
}
.sec02_swiper .swiper-slide a .price {
    padding-bottom: 10px;
}
.sec02_swiper .swiper-slide a .price span:first-child {
    color: #0a5e5a;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 20px;
    margin-right: 10px;
}
.sec02_swiper .swiper-slide a .price span:last-child {
    font-size: 1.125rem;
    color: #aaa;
    text-decoration: line-through;
}
/* sec03 */
.sec03 {
    margin: 0 auto;
    width: 1440px;
}
.event_tit {
    display: flex;
    justify-content: space-between;
}
.event_tit h2 {
    width: 100%;
    color: #0a5e5a;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
}
.event_tit a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}
.event_tit a:hover {
    transform: rotate(180deg);
}
.event_tit a::after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #aaa;
}
.event_tit a::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 30px;
    transform: rotate(90deg);
    background-color: #aaa;
}
.sec03 .event_btn {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 70px;
}
.sec03 .event_btn a {
    display: inline-block;
    font-size: 1.25rem;
    color: #9b9b9b;
    font-weight: 500;
}
.sec03 .all_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.sec03 .all_list li {
    width: calc(100% / 4 - 2rem);
}
.sec03 .all_list li .sec03_g .img_g {
    display: block;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.1s;
}
.sec03 .all_list li .sec03_g .img_g img {
    border-radius: 20px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;
    background-color: #000;
}
.sec03 .all_list li .sec03_g .img_g:hover {background-color: #000;}
.sec03 .all_list li .sec03_g .img_g:hover img {opacity: 0.1;}
.sec03 .all_list li .sec03_g .img_g:hover .img_txt {opacity: 1;}
.sec03 .all_list li .sec03_g .img_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
}
.sec03 .all_list li .sec03_g .img_txt .hover_txt {
    font-size: 0.875rem;
    color: #fff;
    white-space: inherit;
    line-height: 1.3;
}
.sec03 .all_list li .sec03_g .img_txt button {
    background: #ffd6dd;
    color: #1a1a1a;
    border-radius: 50px;
    border: 0;
    width: 140px;
    height: 40px;
    transition: all 0.3s;
}
.sec03 .all_list li .sec03_g .img_txt button:hover {font-weight: 700;}
.sec03 .all_list li .sec03_g h3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    line-height: 1.3;
}
.sec03 .all_list li .sec03_g .price {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
.sec03 .all_list li .sec03_g .price span:first-child {
    color: #0a5e5a;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 10px;
}
.sec03 .all_list li .sec03_g .price span:last-child {
    font-size: 1.125rem;
    color: #aaa;
    text-decoration: line-through;
}
/* sec04 */
.sec04 {
    position: relative;
    background-color: #fff4f6;
}
.sec04 .sec04_swiper .swiper-wrapper {
    display: flex;
    padding-bottom: 100px;
    gap: 2rem;
    justify-content: space-between;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide {
    width: calc(100% / 3 - 2rem) !important;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .img {
    overflow: hidden;
    border-radius: 20px;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .img img {width: 100%;}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a h3 {
    margin: 10px 0;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .date {text-align: center;}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .date span {
    color: #aaa;
    line-height: 1.3;
}
/* sec05 */
.sec05 {
    position: relative;
}