/* ======== 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    font-style: normal;
}
body {
    min-width: 320px;
}
section:not(:first-child) {
    padding: 50px 16px;
}
section > h2 {
    color: #0a5e5a;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
}
.special {padding-top: 10px;}
.price {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
.price span:first-child {
    color: #0a5e5a;
    font-weight: 700;
    font-size: 1.063rem;
    margin-right: 10px;
}
.price span:last-child {
    font-size: 0.938rem;
    color: #aaa;
    text-decoration: line-through;
}
/* sec01 */
.sec01 {
    padding-bottom: 100px;
    overflow: hidden;
}
/* sec02 */
.sec02 {
    position: relative;
    overflow-x: hidden;
}
.sec02_swiper {
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    overflow: hidden;
}
.sec02_swiper .swiper-wrapper {
    display: flex;
}
.sec02_swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec02_swiper .swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px; 
}
.sec02_swiper .swiper-slide a > p {
    overflow: hidden;
    border-radius: 100%;
    width: 70%;
}
.sec02_swiper .swiper-slide a > p img {width: 100%;}
.sec02_swiper .swiper-slide a h3 {
    margin: 30px 0;
    padding: 0 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    color: #1e1e1e;
    height: 70px;
}
.sec02_swiper .swiper-slide a .special {
    overflow: unset;
    width: auto;
    padding-bottom: 10px;
}
.sec02_swiper .swiper-slide a .price {
    width: 100%;
    text-align: center;
}
.sec02_swiper .swiper-slide a .price span:first-child {
    color: #0a5e5a;
    font-weight: 700;
    font-size: 1rem;
}
.sec02_swiper .swiper-slide a .price span:last-child {
    font-size: 0.875rem;
    color: #aaa;
    text-decoration: line-through;
}
/* sec03 */
.sec03 {
    margin: 0 auto;
    padding: 0 16px;
}
.event_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.event_tit h2 {
    width: 100%;
    color: #0a5e5a;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.event_tit a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 15px;
    height: 15px;
    transition: all 0.3s;
}
.event_tit a:hover {
    transform: rotate(180deg);
}
.event_tit a::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #aaa;
}
.event_tit a::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    transform: rotate(90deg);
    background-color: #aaa;
}
.sec03 .event_btn {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 70px;
    flex-wrap: wrap;
}
.sec03 .event_btn a {
    display: inline-block;
    font-size: 0.938rem;
    color: #9b9b9b;
    font-weight: 500;
}
.sec03 .all_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.sec03 .all_list li {
    width: calc(100% / 2 - 1rem);
}
.sec03 .all_list li .sec03_g .img_g {
    display: block;
    position: relative;
    border-radius: 20px;
}
.sec03 .all_list li .sec03_g .img_g img {
    border-radius: 20px;
    width: 100%;
}
.sec03 .all_list li .sec03_g .img_txt button:hover {font-weight: 700;}
.sec03 .all_list li .sec03_g h3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}
.sec03 .all_list li .sec03_g .price {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
.sec03 .all_list li .sec03_g .price span:first-child {
    color: #0a5e5a;
    font-weight: 700;
    font-size: 1.063rem;
    margin-right: 10px;
}
.sec03 .all_list li .sec03_g .price span:last-child {
    font-size: 0.938rem;
    color: #aaa;
    text-decoration: line-through;
}
/* sec04 */
.sec04 {
    position: relative;
    background-color: #fff4f6;
    overflow: hidden;
}
.sec04 .sec04_swiper .swiper-wrapper {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-between;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide {
    width: 100%;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .img {
    overflow: hidden;
    border-radius: 20px;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .img img {width: 100%;}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a h3 {
    margin: 10px 0;
    line-height: 1.5;
    font-weight: 500;
    font-size: 0.875rem;
    text-align: center;
}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .date {text-align: center;}
.sec04 .sec04_swiper .swiper-wrapper .swiper-slide a .date span {
    font-size: 0.875rem;
    color: #aaa;
    line-height: 1.3;
}
/* sec05 */
.sec05 {position: relative;}
.sec05_swiper {overflow: hidden;}
.sec05_swiper .swiper-wrapper {align-items: center;}
.sec05_swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.sec05_swiper .swiper-wrapper .swiper-slide a {
    display: flex;
    justify-content: center;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:first-child {
    width: 100%
}
.sec05_swiper .swiper-wrapper .swiper-slide a:first-child .img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:first-child .img::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 46px;
    top: 50%;
    left: 50%;
    background-image: url("../images/play_btn.png");
    background-size: 100%;
    opacity: 0.7;
    transition: all 0.3s;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:first-child .img:hover img {opacity: 0.7;}
.sec05_swiper .swiper-wrapper .swiper-slide a:first-child .img img{
    width: 100%;
    transition: all 0.3s;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:first-child .img:hover::after {transform: scale(1.2);}
.sec05_swiper .swiper-wrapper .swiper-slide a:last-child {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:last-child p {
    width: 39%;
    border-radius: 20px;
    overflow: hidden;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:last-child p img {
    width: 100%;
    transition: 0.3s;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:last-child .sec05_txt {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 69%;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:last-child .sec05_txt h3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: 40px;
    width: 100%;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 400;
    border-bottom: 1px solid #aaa;
}
.sec05_swiper .swiper-wrapper .swiper-slide a:last-child .sec05_txt .price {
    margin-top: 10px;
    padding: 0;
    width: 100%;
    border: 0;
}
.sec05_swiper .swiper-wrapper .slide2 {
    height: max-content;
}
.sec05_swiper .swiper-wrapper .slide2 a {
    width: 100% !important;
    height: 100%;
}
.sec05_swiper .swiper-wrapper .slide2 a .img {
    width: 100% !important;
}
.sec05_video {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
}
/* .sec05_video iframe {transform: scale(0.8);} */
.sec05_video .video_wrap {
    position: relative;
    padding-top: 56.25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    height: 30%;
}
.sec05_video .video_wrap .sec05_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
.sec05_video button {
    margin-bottom: 15px;
    background-color: unset;
    font-size: 1.125rem;
    border: 0;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    float: right;
}
.sec05_video .video_wrap iframe{
    width: 100%;
    height: 100%;
}
/* .sec05_video iframe {width: 100%;} */