.non_sub {display: none !important;}
/* ======== 상단 이메일 띠 */
nav {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
}
nav .inquiry_line {
    padding: 0 16px;
    width: 100%;
    text-align: center;
    background-color: #0a5e5a;
    line-height: 40px;
}
nav .nav_clone_content {display: none;}
nav .inquiry_line a {
    font-size: 0.75rem;
    color: #fff;
}
/* ======== 네비게이션 */
/* 네비게이션 미드 */
nav .nav_mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}
nav .nav_mid .menu_btn {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
}
nav .nav_mid .menu_btn span {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #0a5e5a;
    display: inline-block;
}
nav .nav_mid .menu_btn span:nth-child(2) {
    right: 0;
}
nav .nav_mid .menu_btn span:nth-child(3) {
    bottom: 0;
}
nav .nav_mid .menu_btn span:nth-child(4) {
    right: 0;
    bottom: 0;
}
nav .nav_mid h1 {    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav .nav_mid h1 a {}
nav .nav_mid h1 a img {width: 120px;}
nav .nav_mid .nav_mid_right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/* 네비게이션 바텀 */
header > nav .nav_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    background-color: #fff;
    min-width: 450px;/
}
nav .nav_btm {
    
}
nav .nav_btm .gnb {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
nav .nav_btm .gnb > li {
    position: relative;
    
}
nav .nav_btm .gnb > li:last-child {margin: 0}
nav .nav_btm .gnb > li > a {
    display: block;
    font-weight: 500;
    font-size: 0.75rem;
} 
nav .nav_btm .gnb > li > a span {display: none;}
nav .nav_btm .gnb > li .sub {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
    text-align: center;
    z-index: 999;
}
nav .nav_btm .gnb > li .sub li {
    margin-bottom: 15px;
    line-height: 1.3;
}
nav .nav_btm .gnb > li .sub li a {
    font-size: 0.938rem;
    font-weight: 500
}
nav .nav_btm .gnb > li .sub li:hover a {
    color: #0a5e5a;
}
nav .nav_btm .gnb > li .sub li:last-child {margin: 0;}
.deco_underline {
    width: 100%;
    border: 1px solid #d5d5d5;
}
/* ======== 클론 네비게이션 */
.nav_clone_area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.nav_clone_area .nav_close {
    
}
.nav_clone_area .nav_close a {display: block;}
.nav_clone_area nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px 20px;
    width: 70%;
    height: 100%;
    border-radius: 0 0 100px 0 ;
    transition: all 0.3s;
    overflow: hidden;
    min-width: 250px;
}
.nav_clone_area nav .nav_clone_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 2rem;
}
.nav_clone_area .inquiry_line {display: none;}
.nav_clone_area .nav_mid {display: none;}
.nav_clone_area .nav_btm {background-color: unset;}
.nav_clone_area nav .nav_clone_content .nav_clone_list {
    display: flex;
    gap: 0.5rem;
}
.nav_clone_area nav .nav_clone_content .nav_clone_list li:first-child a,
.nav_clone_area nav .nav_clone_content .nav_clone_list li:nth-child(2) a {
    display: inline-block;
    padding: 0 12px;
    font-size: 12px;
    background: #f0f0f0;
    color: #333;
    border-radius: 30px;
    height: 28px;
    line-height: 28px;
}
.nav_clone_area nav .nav_clone_content .nav_clone_list li:last-child a {
    display: inline-block;
    padding: 0 12px;
    font-size: 12px;
    background: #0a5e5a;
    color: #fff;
    border-radius: 30px;
    height: 28px;
    line-height: 28px;
}
.nav_clone_area nav .nav_btm .gnb {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/* 네비게이션 클론 언어 버튼 */
.nav_clone_area nav .select_down {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_clone_area nav .select_down .btn button {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #aaa;
    background-color: unset;
    border: none;
}
.nav_clone_area nav .select_down .btn img {transition: all 0.3s;}
.nav_clone_area nav .select_down .select_lang {
    position: absolute;
    top: 25px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 999;
}
.nav_clone_area nav .select_down .select_lang li a {
    display: block;
    width: 100%;
    font-size: 0.75rem;
    color: #666;
}
.nav_clone_area nav .select_down .select_lang li {margin-bottom: 10px;}
.nav_clone_area nav .select_down .select_lang li:last-child {margin: 0;}
.nav_clone_area nav .nav_btm {padding: 0;}
.nav_clone_area nav .nav_btm .gnb > li {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    width: 100%;
}
.nav_clone_area nav .nav_btm .gnb > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #222;
    font-size: 16px;
    width: 100%;
    padding: 12px 0;
    font-weight: 700;
}
.nav_clone_area nav .nav_btm .gnb > li > a span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12px;
    height: 12px;
    transition: all 0.3s;
}
.nav_clone_area nav .nav_btm .gnb > li > a span::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #5e5e5e;

}
.nav_clone_area nav .nav_btm .gnb > li > a span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #5e5e5e;
    transform: rotate(90deg);
    
}
.nav_clone_area nav .nav_btm .gnb > li .sub {
    position: unset;
    transform: translate(0);
    padding: 0;
    box-shadow: none;
    text-align: left;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}
.nav_clone_area nav .nav_btm .gnb > li .sub.on {
    height: max-content;
}
.nav_clone_area nav .nav_btm .gnb > li > a span.on {
    transform: rotate(45deg);
}
.nav_clone_area nav .nav_btm .gnb > li .sub li {
    padding: 0 20px;
}
/* ======== nav 오른쪽 메뉴 */
nav .nav_btm .customer_nav {
    display: flex;
}
nav .nav_btm .customer_nav .customer_nav_list {
    display: flex;
    align-items: center;
}
nav .nav_btm .customer_nav .customer_nav_list > li {margin-right: 20px;}
nav .nav_btm .customer_nav .customer_nav_list > li a {display: block;}
nav .nav_btm .customer_nav .customer_nav_list > li:last-child {
    margin: 0;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn button {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #aaa;
    background-color: unset;
    border: none;
}
nav .nav_btm .customer_nav .customer_nav_list > li .btn img {
    display: inline-block;
    opacity: 0.7;
}
/* 검색 창 */
nav .nav_btm .customer_nav .customer_nav_list > li {position: relative;}
.nav_mid_right li a {
    display: inline-block;
    width: 22px;
    height: 22px;
}
.nav_mid_right li a img {width: 100%;}
#searchBarForm {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #0a5e5a;
    box-sizing: border-box;
    padding: 30px 25px;
    width: 90%;
    border-radius: 10px;
    z-index: 800;
    opacity: 0;
    transition: all 0.3s;
}
#searchBarForm h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
#searchBarForm p {
    padding-top: 10px;
    border-top: 1px solid #fff;
    font-size: 14px;
    color: #fff;
}
.search_bar_line {position: relative;}
.search_bar_line #search_bar {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 40px 0 9px;
    border: 0;
    line-height: 38px;
    font-size: 14px;
    background: #fff;
    outline: none;
    border-radius: 5px;
}
.search_bar_line button {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url("../images/search_ico.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: unset;
    border: none;
}
/* ======== footer */
footer {
    padding: 20px 0;
    background-color: #0d4542;
    color: #fff;
}
footer .ft_list {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 1rem;
}
footer .ft_list h2 {
    font-size: 0.938rem;
    font-weight: 500;
    color: #ffd6dd;
    margin-bottom: 15px;
}
footer .ft_list h3 {
    margin: 20px 0;
    font-size: 1.375rem;
    font-weight: 500;
    color: #ffd6dd;
}
footer .ft_list p {
    margin-bottom: 15px;
    font-size: 0.75rem;
    line-height: 1.3;
}
footer .ft_list li:first-child img {width: 50px;}
footer .ft_list > li {flex: 1;}
footer .ft_list li .company {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
footer .ft_list li .company a {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 15px;
    color: #fff;
}
footer .ft_list li .sns_link {
    margin-top: 25px;
    display: flex;
    gap: 1rem;
}
footer .ft_list li .sns_link a {
    width: 32px;
    height: 32px;
    background: #ffd6dd;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
footer .ft_list li .logo_link {
    margin-top: 25px;
    display: flex;
    gap: 1rem;
}
footer .ft_list li .logo_link a {display: block;}
footer .ft_list li .logo_link a img:first-child {width: 143px;}
footer .ft_list li .logo_link a img:last-child {width: 114px;}
footer .ft_list li .delivery {margin-bottom: 30px;}
footer .ft_list li .delivery a {
    color: #fff;
    text-decoration: underline;
}
/* ======== footer bottom */
.footer_btm {
    background: #0d3533;
    padding: 20px 16px;
}
.footer_btm h3 a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer_btm h3 img {
    width: 16px;
}
.footer_btm .footer_bottom_cate {
    overflow: hidden;
    transition: all 0.3s;
}
.footer_btm .footer_bottom_cate p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #d5d5d5;
    font-size: 0.75rem;
    gap: 1rem;
}
.footer_btm .footer_bottom_cate p:not(:last-child) span {display: flex;}
.footer_btm .footer_bottom_cate p:not(:last-child) span a {
    margin-left: 5px;
    color: #fff;
    font-weight: 500;
}
.footer_btm .footer_bottom_cate p span em {color: #fff;}
.footer_btm .footer_bottom_cate p span em::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d5d5d5;
    margin: 0 1rem;
}
.footer_btm .footer_bottom_cate p:not(:last-child) span:first-child:before {display: none;}
.footer_btm .footer_bottom_cate p:last-child {
    margin: 0;
    flex-direction: column;
    gap: 1rem;
}
.footer_btm .footer_bottom_cate p:last-child em {
    color: #ffd6dd;
    font-weight: 500;
}