/* 
    제작 : 조현우
    갱신일 : 2024.06.25
*/
/* ============ 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    font-style: normal;
}
body {min-width: 346px;}
section {padding: 50px 16px;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}
/* ============ 상세정보/쇼핑가이드 라인 */
.menu_btn_a {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}
.menu_btn_a a {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    color: #999;
    padding: 10px 0;
}
.menu_btn_a span {
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #ddd;
    margin: 0 1rem;
    align-self: center;
}
.menu_btn_a:first-of-type a.active {
    font-weight: 500;
    color: #000;
    border-bottom: 1px solid #333;
}
/* ============ sec01 */
.sec01 {
    display: flex;
    gap: 1rem;
}
/* ============ 왼쪽 이미지*/
.sec01 .key_visual {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}
.sec01 .key_visual .thumbnail {
    overflow: hidden;
    border-radius: 10px;
}
.sec01 .key_visual .thumbnail img {width: 100%;}
.sec01 .key_visual .thumbs {
    overflow: hidden;
    border-radius: 10px;
    width: 120px;
}
.sec01 .key_visual .thumbs img {width: 100%;}
.sec01 .item_info {
    flex: 1;
}
/* ============ 오른쪽 아이템 정보 */
.sec01 .item_info {}
.sec01 .key_visual h1 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 700;
}
.sec01 .key_visual .price_g {
    display: flex;
    justify-content: space-between;
}
.sec01 .key_visual .price_g .price span:first-of-type {
    color: #0a5e5a;
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 15px;
}
.sec01 .key_visual .price_g .price span:last-of-type {
    color: #bbb;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: line-through;
}
.sec01 .key_visual .price_g .sale {
    color: #0a5e5a;
    font-size: 1.25rem;
    font-weight: 700;
}
.sec01 .item_info dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #bbb;
    border-left: 0;
    border-right: 0;
}
.sec01 .item_info dl dt {
    width: 100px;
    padding: 15px 0;
    font-size: 0.875rem;
    font-weight: 700;
}
.sec01 .item_info dl dd {
    width: calc(100% - 100px);
    padding: 15px 0;
    font-size: 0.875rem;
    color: #444;
}
.sec01 .item_info dl dt,
.sec01 .item_info dl dd {
    border-top: 1px solid #bbb;
    border-left: 0;
    border-right: 0;
}
.sec01 .item_info dl dt:first-of-type,
.sec01 .item_info dl dd:first-of-type {
    border: 0;
}
/* ============ 아이템 갯수 정보란 */
.sec01 .item_info #item_select_form {}
.sec01 .item_info #item_select_form .item_area {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff4f6;
}
.sec01 .item_info #item_select_form .item_area h3 {
    margin-bottom: 20px;
    font-size: 0.813rem;
    color: #777;
    line-height: 1.3;
}
.sec01 .item_info #item_select_form .num_down {
    width: 18px;
    height: 18px;
    border: 0;
    background-image: url("../images/detail/re_prd_down.png");
    background-size: cover;
}
.sec01 .item_info #item_select_form .num_up {
    width: 18px;
    height: 18px;
    border: 0;
    background-image: url("../images/detail/re_prd_up.png");
    background-size: cover;
}
.sec01 .item_info #item_select_form .item_area .check_number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    line-height: 1.3;
}
.sec01 .item_info #item_select_form .item_area .check_number #num_value {
    width: 30px;
    font-weight: 700;
    text-align: center;
    border: 0;
    background-color: unset;
}
/* ============ total_result */
.sec01 .item_info .total_result {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #bbb;
}
.sec01 .item_info .total_result > p {
    font-size: 0.875rem;
    font-weight: 500;
}
.sec01 .item_info .total_result .result {
    display: flex;
    align-items: flex-end;
    color: #0a5e5a;
    gap: 0.3rem;
}
.sec01 .item_info .total_result .result .total {
    font-size: 1rem;
    font-weight: 500;
}
.sec01 .item_info .total_result .result .count {
    font-size: 0.75rem;
}
.sec01 .item_info .bnt_area {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 1rem;
}
.sec01 .item_info .bnt_area a:first-child,
.sec01 .item_info .bnt_area a:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: calc((100% / 2) - 1rem);
    min-width: 108px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s;
}
.sec01 .item_info .bnt_area a:first-child {
    background-color: #0a5e5a;
    color: #fff;
    font-weight: 500;
}
.sec01 .item_info .bnt_area a:first-child:hover {background-color: #0d3533;}
.sec01 .item_info .bnt_area a:nth-child(2) {
    border: solid 1px #ccc;
    font-weight: 500;
}
.sec01 .item_info .bnt_area a:nth-child(2):hover {background-color: #f3f3f3;}
.sec01 .item_info .bnt_area a:last-child {
    width: 45px;
}
.sec01 .item_info .bnt_area a:last-child img {width: 100%;}
/* ============ sec02 */
.sec02 {text-align: center;}
.sec02 > p {}
.sec02 > p img {width: 100%;}
.sec02 .sec02_txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.sec02 .sec02_txt .txt_g01 {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #353535;
}
.sec02 .sec02_txt .txt_g01 .un_txt_line {margin-bottom: 20px;}
.sec02 .sec02_txt .txt_g01 dt,
.sec02 .sec02_txt .txt_g01 dd {
    line-height: 1.3;
    font-size: 0.75rem;
}
.sec02 .sec02_txt .txt_g01 dt {
    font-weight: 500;
}
.sec02 .sec02_txt .txt_g01 dd {}
.sec02 .sec02_txt .txt_g02 {
    margin-top: 50px;
    font-size: 0.75rem;
}
.sec02 .sec02_txt .txt_g02 li strong,
.sec02 .sec02_txt .txt_g02 li span {
    line-height: 1.3;
}
.sec02 .sec02_txt .txt_g02 li strong {
    font-weight: 500;
}
.sec02 .sec02_txt .txt_g02 li span {}
/* ============ sec03 */
.sec03 {display: none;}
.sec03 dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.sec03 dl dt,
.sec03 dl dd {
    font-size: 0.813rem;
    color: #444;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
}
.sec03 dl dt {
    width: 100px;
    font-weight: 500;
}
.sec03 dl dd {width: calc(100% - 100px);}
.sec03 .sec03_txt {
    margin-bottom: 20px;
}
.sec03 .sec03_txt h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 14px;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #bbb;
    cursor: pointer;
}
.sec03 .sec03_txt h3 span {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../images/detail/ico_toggle_arow_up.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.sec03 .sec03_txt .sec03_accordion {
    padding: 10px;
    border: 1px solid #bbb;
    border-top: 0;
}
.sec03 .sec03_txt p {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #353535;
}
.sec03 .sec03_g01 p:first-of-type {margin-bottom: 20px;}
.sec03 .sec03_g03 p:first-of-type {font-weight: 500; color: #000;}
.sec03 .sec03_g03 .sec03_g03_list {margin-top: 20px;}
.sec03 .sec03_g03 .sec03_g03_list li {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #353535;
}
.sec03 .sec03_g03 .sec03_g03_list li:first-of-type {font-weight: 500; color: #000;}
.sec03 .sec03_g03 .sec03_g03_list li:not(:first-of-type) {
    text-indent: -0.2rem;
}
.sec03 .sec03_g03 .sec03_g03_list li:not(:first-of-type)::before {
    content: "-";
    display: inline-block;
    padding: 0 0.1rem;
}
/* ============ fixed_box */
.fixed_box {
    position: fixed;
    top: 200px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
}
.fixed_box h3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3;
}
.fixed_box p {width: 60%;}
.fixed_box p img {
    border-radius: 5px;
    width: 100%;
}
.fixed_box .price {
    margin: 20px 0;
    font-weight: 700;
}
.fixed_box .price,
.fixed_box a {
    font-size: 0.938rem;
}
.fixed_box a {
    display: block;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    background-color: #0a5e5a;
    border-radius: 5px;
}
/* ============ popup창 */
.popup_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility:hidden;
    opacity: 0;
    transition: all 0.3s;
}
.popup_wrap .popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 1200px;
    padding: 150px 100px;
    background-color: #fff;
    border-radius: 10px;
}
.popup_wrap .popup .close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
}
.popup_wrap .popup .close_btn img {width: 100%;}
.popup_wrap .popup dl,
.popup_wrap .popup > p,
.popup_wrap .popup .item_info {flex: 1;}
/* ============ popup 왼쪽 */
.popup_wrap .popup dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0;
    border-bottom: 1px solid #bbb;
    border-left: 0;
    border-right: 0;
}
.popup_wrap .popup dl dt {
    width: 120px;
    padding: 15px 0;
    font-size: 0.875rem;
    font-weight: 700;
}
.popup_wrap .popup dl dd {
    width: calc(100% - 120px);
    padding: 15px 0;
    font-size: 0.875rem;
}
.popup_wrap .popup dl dt,
.popup_wrap .popup dl dd {
    border-top: 1px solid #bbb;
    border-left: 0;
    border-right: 0;
}
.popup_wrap .popup dl dt:first-of-type,
.popup_wrap .popup dl dd:first-of-type {
    border: 0;
}
/* ============ popup 중앙 */
.popup_wrap .popup > p img {width: 100%;}
/* ============ popup 오른쪽 */
.popup_wrap .popup .item_info {}
.popup_wrap .popup .item_info h1 {
    margin-bottom: 20px;
    font-size: 1.063rem;
    line-height: 1.3;
    font-weight: 700;
}
.popup_wrap .popup .item_info .price_g {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.popup_wrap .popup .item_info .price_g .price span:first-of-type {
    color: #0a5e5a;
    font-size: 1.063rem;
    font-weight: 700;
    margin-right: 15px;
}
.popup_wrap .popup .item_info .price_g .price span:last-of-type {
    color: #bbb;
    font-size: 0.938rem;
    font-weight: 500;
    text-decoration: line-through;
}
.popup_wrap .popup .item_info .price_g .sale {
    color: #0a5e5a;
    font-size: 1.063rem;
    font-weight: 700;
}
/* ============ 아이템 갯수 정보란 */
.popup_wrap .popup .item_info #item_select_form {}
.popup_wrap .popup .item_info #item_select_form .item_area {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff4f6;
}
.popup_wrap .popup .item_info #item_select_form .item_area h3 {
    margin-bottom: 20px;
    font-size: 0.938rem;
    line-height: 1.3;
    color: #777;
}
.popup_wrap .popup .item_info #item_select_form .num_down {
    width: 18px;
    height: 18px;
    border: 0;
    background-image: url("../images/detail/re_prd_down.png");
    background-size: cover;
}
.popup_wrap .popup .item_info #item_select_form .num_up {
    width: 18px;
    height: 18px;
    border: 0;
    background-image: url("../images/detail/re_prd_up.png");
    background-size: cover;
}
.popup_wrap .popup .item_info #item_select_form .item_area .check_number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.popup_wrap .popup .item_info #item_select_form .item_area .check_number input {
    width: 30px;
    font-weight: 700;
    text-align: center;
    border: 0;
    background-color: unset;
}
/* ============ total_result */
.popup_wrap .popup .item_info .total_result {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #bbb;
}
.popup_wrap .popup .item_info .total_result > p {
    font-size: 0.875rem;
    font-weight: 500;
}
.popup_wrap .popup .item_info .total_result .result {
    display: flex;
    align-items: flex-end;
    color: #0a5e5a;
    gap: 0.3rem;
}
.popup_wrap .popup .item_info .total_result .result .total {
    font-size: 1.125rem;
    font-weight: 500;
}
.popup_wrap .popup .item_info .total_result .result .count {
    font-size: 0.875rem;
}
.popup_wrap .popup .item_info .bnt_area {
    display: flex;
    margin-top: 20px;
    gap: 1rem;
}
.popup_wrap .popup .item_info .bnt_area a:first-child,
.popup_wrap .popup .item_info .bnt_area a:nth-child(2) {
    display: block;
    padding: 10px 20px;
    width: calc(100% / 2 - 5px);
    text-align: center;
    border-radius: 5px;
    font-size: 0.875rem;
    transition: all 0.3s;
}
.popup_wrap .popup .item_info .bnt_area a:first-child {
    background-color: #0a5e5a;
    color: #fff;
    font-weight: 500;
}
.popup_wrap .popup .item_info .bnt_area a:first-child:hover {background-color: #0d3533;}
.popup_wrap .popup .item_info .bnt_area a:nth-child(2) {
    border: solid 1px #ccc;
    font-weight: 500;
}
.popup_wrap .popup .item_info .bnt_area a:nth-child(2):hover {background-color: #f3f3f3;}

/* ============ 반응형 */
@media screen and (max-width: 640px) {
    .sec01 {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 345px) {
    .sec01 .item_info .bnt_area {
        flex-wrap: wrap;
    }
}